<div class="mb-3"> 
  <input type="name" class="form-control" id="name" name="name" [(ngModel)]="searchTerm" placeholder="Search By Name" /> 
</div> 
<div class="card-deck">
  <div *ngFor="let emp of filteredEmployees" (click)="onEmployeeClick(emp.id)" [class.highlight]="emp.id===selectedId" >

    <app-view-employee [employee]="emp"></app-view-employee>
  </div>
</div>


<!-- <div class="mb-3"> 
  <input type="name" class="form-control" id="name" name="name" [(ngModel)]="searchTerm" placeholder="Search By Name" /> 
</div> 
<div class="card-deck">
  <div *ngFor="let emp of employees | filterEmployeesByName:searchTerm;" (click)="onEmployeeClick(emp.id)" [class.highlight]="emp.id===selectedId" >

    <app-view-employee [employee]="emp"></app-view-employee>
  </div>
</div> -->

<!-- <h1 #listHeader>

</h1> -->
<!-- <h1 *ngIf="clickedEmployee">
{{clickedEmployee.name}}
</h1> -->
<!-- <div class="card-deck">
  <div class="card m-3" *ngFor="let emp of employees;">
    <div (click)="listHeader.innerHTML = (viewEmp.employee && viewEmp.employee.name)?viewEmp.employee.name:''">
      <app-view-employee [employee]="emp" (employeeClicked)="handleEmployeeClick($event)" #viewEmp></app-view-employee>
    </div>
  </div>
</div> -->
<!-- <button (click)="nextEmployee()">Next</button>
<app-view-employee [employee]="employeeToDisplay"></app-view-employee> -->