<form #empForm="ngForm" (ngSubmit)="saveEmployee(empForm)">
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="name" class="form-control" id="name" name="name" [(ngModel)]="name">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email">
    </div>
    <div class="mb-3">
        <label for="phoneNumber" class="form-label">Email</label>
        <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber" [(ngModel)]="phoneNumber">
    </div>
    <div class="mb-3">
        <label class="form-label">Contact Preference</label>
        <div class="form-control">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="radioContactEmail" name="contactPreference"
                    value="email" [(ngModel)]="contactPreference">
                <label class="form-check-label" for="radioContactEmail">Email</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="radioContactPhone" name="contactPreference"
                    value="phone" [(ngModel)]="contactPreference">
                <label class="form-check-label" for="radioContactPhone">Phone</label>
            </div>
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label">Gender</label>
        <div class="form-control">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="radioGenderMale" name="gender" value="male"
                    [(ngModel)]="gender">
                <label class="form-check-label" for="radioGenderMale">Male</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="radioGenderFemale" name="gender" value="female"
                    [(ngModel)]="gender">
                <label class="form-check-label" for="radioGenderFemale">Female</label>
            </div>
        </div>
    </div>
    <div class="mb-3">
        <label for="dateOfBirth" class="form-label">Birth Date</label>
        <input type="text" id="dateOfBirth" bsDatepicker [bsConfig]="datepickerConfig" name="dateOfBirth" [(ngModel)]="dateOfBirth" class="form-control">
    </div>
    <div class="mb-3">
        <label for="department" class="form-label">Department</label>
        <select id="department" name="department" [(ngModel)]="department" class="form-select">
            <option *ngFor="let dep of departments" [value]="dep.id">{{dep.name}}</option>
        </select>
    </div>
    <div class="mb-3">
        <div class="form-control">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="isActive" id="checkIsActive"
                    [(ngModel)]="isActive">
                <label class="form-check-label" for="checkIsActive">
                    Is Active
                </label>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
Angular Generated Form Model : {{empForm.value | json}}