<h1 #listHeader>

</h1>
<!-- <h1 *ngIf="clickedEmployee">
{{clickedEmployee.name}}
</h1> -->
<div class="card-deck">
  <div class="card m-3" *ngFor="let emp of employees;">
    <div (click)="listHeader.innerHTML = (viewEmp.employee && viewEmp.employee.name)?viewEmp.employee.name:''">
      <app-view-employee [employee]="emp" (employeeClicked)="handleEmployeeClick($event)" #viewEmp></app-view-employee>
    </div>
  </div>
</div>
<!-- <button (click)="nextEmployee()">Next</button>
<app-view-employee [employee]="employeeToDisplay"></app-view-employee> -->